:root {
  --dark-black: #002b36;
  --black: #073642;
  --dark-grey: #586e75;
  --grey: #657b83;
  --light-grey: #93a1a1; 
  --dark-white: #eee8d5;
  --white: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

html {
  filter: brightness(88%) contrast(88%);
}

body {
  font-family: "Noto Sans Mono";
  background-color: var(--black);
}

h1, h2, h3,
h4, h5, h6 {
  letter-spacing: 0.02em;
  font-weight: 1000;
}

/* ######################
   ### LOADING SCREEN ###
   ###################### */
.loading-screen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--black);
  z-index: 1000;
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

.loading-screen,
.loading-screen .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen .content {
  margin: 0 !important;
}

.loading-screen .content .box .box-overlay {
  height: 30px;
  width: 50vw;
  min-width: 200px;
  position: unset !important;
  transition-property: width, height;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

/* #########################
   ### CONTENT CONTAINER ###
   ######################### */
.content {
  margin: 20px;
}

/* Content > Title */
.content > h2 {
  font-size: 30px;
  background-color: var(--black);
  color: var(--light-grey);
  font-weight: 900;
  padding: 11px 17px 17px 17px;
  line-height: 36px;
  text-align: center;
}

/* Content > Box */
.content > .box {
  position: relative;
  border-radius: 15px;
  border-style: solid;
  border-width: 4px;
  border-color: var(--dark-grey);
  overflow: hidden;
}

/* Content > Box > Overlay */
.content > .box > .box-overlay {
  position: absolute;
  right: 0px;
  bottom: 0px;
  top: 0px;
  left: 0px;
  background-color: transparent;
  z-index: 10;
  pointer-events: none;
}

/* Content > Box > Overlay > Loader */
@keyframes loader {
  0%   { background-position:  100%; }
  100% { background-position: -100%; }
}

.content > .box > .box-overlay > .loader {
  height: 100%;
  width: 100%;
  animation: 0.75s ease-in-out infinite loader;
  background: linear-gradient(100deg, var(--dark-black) 0%, var(--black) 40%, var(--black) 60%, var(--dark-black) 100%);
  background-size: 200%;
  opacity: 1;
}

.content > .box > .box-overlay > .loader.hidden  {
  transition: opacity 200ms ease-in-out;
  opacity: 0;
}

/* Content > Box > Overlay > Button */
.content > .box > .box-overlay > button {
  display: none;
  position: absolute;
  bottom: -4px;
  left: -4px;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  transition: filter 250ms ease-in-out;
  font-size: 16px;
  background-color: var(--dark-grey);
  pointer-events: all;
  padding: 7px 15px 7px 15px;
  font-weight: 600;
  color: var(--dark-black);
}

.content > .box > .box-overlay > button:hover {
  filter: brightness(1.2);
}

/* Content > Box > Main */
.content > .box > .box-main {
  overflow: hidden;
  background-color: var(--dark-black);
}