/* ############
   ### BOWL ###
   ############ */
body {
  perspective: 50px;
}

#bowl {
  width: 100px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px, 0px -1px 15px -8px rgba(0, 0, 0, 0.09);
  border-radius: 100%;
  position: absolute;
  transition: border-radius 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* ##############
   ### LAYOUT ###
   ############## */
div#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div#home > section#presentation {
  width: 49.5vw;
  min-width: 300px;
}

div#home > section#collaboration {
  min-width:666px;
  max-width:666px;
}

div#home > section#works {
  width: 100vw;
}

/* #####################################
   ### "BOOK AN APPOINTMENT" SECTION ### 
   ##################################### */
div#home article#book-an-appointment ul#choices {
  overflow: hidden;
  /* background-color: var(--base); */
}

div#home article#book-an-appointment ul#choices > li {
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--base-low);
  transition: background-color 300ms ease-in-out;
}
div#home article#book-an-appointment ul#choices > li:first-of-type {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

div#home article#book-an-appointment ul#choices > li:last-of-type {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

div#home article#book-an-appointment ul#choices button {
  display: flex;
  flex-direction: column;
  padding: 16px 20px 20px 20px;
  z-index: 10;
  cursor: pointer;
}

div#home article#book-an-appointment ul#choices button:hover {
  background-color: var(--base);
}

div#home article#book-an-appointment ul#choices button .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#home article#book-an-appointment ul#choices button .head h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--mid-high);
  font-weight: 1000;
  display: flex;
  justify-content: space-between;
}

div#home article#book-an-appointment ul#choices button .head .tags {
  margin-top: -1px;
}

div#home article#book-an-appointment ul#choices button .head .tags > li {
  padding: 2px 6px 2px 6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 14px;
  color: var(--white);
  font-weight: 600;
}

div#home article#book-an-appointment ul#choices button .head .tags li.price {
  background-color: var(--blue);
}

div#home article#book-an-appointment ul#choices button .head .tags li.duration {
  background-color: var(--orange);
}

div#home article#book-an-appointment ul#choices button p {
  padding-top: 12px;
  padding-left: 10px;
  color: var(--cont);  
}

div#home article#book-an-appointment ul#choices hr {
  border-top-style: solid;
  border-top-width: 7px;
  border-top-color: transparent;
  transition: border-top-width 600ms cubic-bezier(.68,-0.55,.27,1.55);
}

div#home article#book-an-appointment .box.retracted ul#choices hr {
  border-top-width: 14px; 
}

div#home article#book-an-appointment ul#calendars {
  display: none;
}


div#home article#book-an-appointment ul#calendars > li {
  width: 0px;
  height: 0px;
  visibility: hidden;
  max-width:658px;
  border-bottom-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

div#home article#book-an-appointment ul#calendars > li > cal-inline {
  justify-content: center;
  align-items: center;
  margin-top: -4px;
  margin-bottom: -4px;
  max-height: 448px;
}

div#home article#book-an-appointment ul#calendars > li > cal-inline > iframe {
  min-width: 900px; /* If the iframe is smaller than 770px the calendar hour selector will wrap */
}

div#home article#book-an-appointment #booking-message {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  position: absolute;
  inset: 0;
}

div#home article#book-an-appointment #booking-message .icon {
  fill: var(--white-light);
  background-color: var(--green);
  width: 80px;
  height: 80px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#home article#book-an-appointment #booking-message h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 25px;
  color: var(--cont);
}

div#home article#book-an-appointment #booking-message p {
  text-align: center;
  max-width: 450px;
}